[Desktop Entry]
Name=Jupyter Lab
Comment=Start Jupyter Lab server
Icon=jupyter-lab
Exec=/opt/google/chrome/google-chrome --app=http://localhost:8888/lab
Type=Application
Categories=Development;
StartupNotify=true
StartupWMClass=jupyter-lab
Actions=open-browser
