[Desktop Entry]
Name=Jupyter Lab
Comment=Start Jupyter Lab server
Icon=jupyter-lab
Type=Application
Exec=google-chrome --app=http://localhost:8888/lab
Categories=Development;
StartupNotify=true
StartupWMClass=jupyter-lab
